body{
  margin:0;
  padding:0;
  font:12px/17px Arial, sans-serif;
  background:#f9f9f9;
}

.background {
    position: absolute;
    width: 384px;
    height: 384px;
    opacity: 0.555;
}

#background1 {
    top: 0px;
    left: 0px;
    background-color: #0c0;
}
#background2 {
    top: 0px;
    left: 384px;
    background-color: #00c;
}
#background3 {
    top: 384px;
    left: 0px;
    background-color: #cc0;
}
#background4 {
    top: 384px;
    left: 384px;
    background-color: #c00;
}

.button {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

#btnTest {
    top: 150px;
    left: 85px;
}
#btnMap {
    top: 150px;
    left: 470px;
}
#btnGame {
    top: 518px;
    left: 85px;
}
#btnGraph {
    top: 518px;
    left: 470px;
}

.kinectCursor {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 25px;
    height: 25px;
    z-index: 9999;
}

#status {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
}

#serverStatus {
    margin-left: 10px;
}

#modeName {
    position: absolute;
    left: 53%;
}